
main {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
}

.article {
    background-color: rgb(209, 209, 209);
    margin: 10px;
    width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
}