body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

ul {
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: rgb(209, 209, 209);
    list-style-type: none;
    justify-content: space-around;
    font-size: 1.3em;
}

a {
    text-decoration: none;
    color: inherit;
    position: relative;
    padding-bottom: 3px;
}

a::before {
    content:'';
    background-color: black;
    position:absolute;
    width:0%;
    height:10%;
    bottom: 0;
    transition: all .5s;
}

a:hover::before {
    width: 100%;
}
